@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Outfit:wght@700&display=swap");
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1140px;
  }
}
@media (min-width: 1600px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
/* color */
/* style */
* {
  box-sizing: border-box;
  position: relative;
  color: #fff;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  background-color: #020916;
}

a,
span {
  display: inline-block;
}

a {
  text-decoration: none;
  color: unset;
  -webkit-tap-highlight-color: transparent;
}
a:focus:not(:focus-visible) {
  outline: none;
}
a.link {
  text-decoration: underline;
  transition: all 0.3s;
}
a.link:hover {
  color: blue;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: 0;
  cursor: pointer;
}
button:focus:not(:focus-visible) {
  outline: none;
}

img {
  width: 100%;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  border-radius: 0;
  border: none !important;
  text-decoration: none;
}

@media (max-width: 767px) {
  .md-hide {
    display: none;
  }
}

@media (max-width: 450px) {
  .sm-hide {
    display: none;
  }
}

/* font */
h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 60px;
}
h2::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("/images/h2.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 20px;
  transform: translateY(-6px);
}
@media (max-width: 575px) {
  h2 {
    font-size: 44px;
  }
}

h3 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  padding-left: 24px;
}
h3:before, h3:after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 24px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 6px;
}
h3:after {
  left: 10px;
}

p {
  line-height: 2;
  margin-bottom: 20px;
  text-align: justify;
}

::selection {
  background-color: #00aaec;
  color: #fff;
}

/* icons */
/* navbar */
.navbar {
  width: 100%;
  height: 80px;
  padding: 0;
  position: fixed !important;
  background: transparent !important;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  z-index: 10;
}
.navbar .container-fluid {
  padding: 0;
}
.navbar .navbar-brand {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: 42%;
  padding: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1882352941) 0%, rgba(255, 255, 255, 0) 100%);
}
@media (max-width: 767px) {
  .navbar .navbar-brand {
    width: calc(100% - 160px);
  }
}
.navbar .navbar-brand a {
  display: inline-block;
}
.navbar .navbar-brand .home {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.1882352941);
  border-left: 4px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.navbar .navbar-brand .home:hover {
  background-color: rgba(255, 255, 255, 0.2509803922);
}
.navbar .navbar-brand .home img {
  height: 20px;
  width: auto;
}
.navbar .navbar-brand .brand {
  display: inline-block;
  padding-left: 20px;
}
.navbar .navbar-nav {
  align-items: center;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
  padding: 8px 20px;
}
@media (max-width: 991px) {
  .navbar .navbar-nav {
    background-color: rgba(2, 9, 22, 0.9333333333);
    padding-bottom: 40px;
    padding-top: 20px;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    color: #fff;
    padding: 20px 20px;
  }
}
.navbar .navbar-toggler {
  padding: 27px;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.1882352941);
}
.navbar .navbar-toggler .toggler-group {
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.navbar .navbar-toggler .toggler-group .toggler-bar {
  width: 24px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
}
.navbar .navbar-toggler .toggler-group .toggler-bar:nth-child(2) {
  width: 18px;
}
.navbar .search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.1882352941);
  margin-left: 20px;
  transition: all 0.3s;
}
.navbar .search:hover {
  background-color: rgba(255, 255, 255, 0.2509803922);
}
.navbar .search img {
  width: 20px;
}
@media (max-width: 991px) {
  .navbar .search {
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
}
/* images */
.img {
  background-repeat: no-repeat;
  background-position: center;
}

/* others */
section {
  padding-top: 80px;
  z-index: 1;
  background-color: #020916;
}

.btn-container {
  text-align: center;
}

.more {
  text-decoration: none;
  background: linear-gradient(135deg, rgba(0, 170, 236, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
  padding: 2px;
}
.more span {
  display: inline-block;
  padding: 10px 32px 10px 16px;
  font-weight: 400;
  background-color: rgba(2, 9, 22, 0.6666666667);
}
.more span:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("/images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  right: 16px;
  top: 52%;
  transform: translateY(-50%);
}

.text_center {
  text-align: center;
}

/* landing */
#landing {
  width: 100%;
  height: 100vh;
  padding: 0;
  padding-top: 0;
}
@media (max-width: 767px) {
  #landing {
    height: 100%;
  }
}
#landing .bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
}
#landing .text-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.0823529412);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}
@media (max-width: 1040px) {
  #landing .text-bg {
    width: 52%;
  }
}
@media (max-width: 840px) {
  #landing .text-bg {
    width: 64%;
  }
}
@media (max-width: 767px) {
  #landing .text-bg {
    width: 100%;
    height: 100%;
    display: block;
  }
}
#landing .text-bg .content {
  width: 400px;
  margin: 0 auto;
  padding-top: 40px;
}
@media (max-width: 480px) {
  #landing .text-bg .content {
    width: calc(100% - 40px);
  }
}
#landing .text-bg h1 {
  color: #fff;
  font-size: 72px;
  font-family: "Outfit", sans-serif;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  #landing .text-bg h1 {
    margin-top: 120px;
  }
}
@media (max-width: 420px) {
  #landing .text-bg h1 {
    font-size: 54px;
    margin-top: 80px;
  }
}
#landing .text-bg p {
  font-size: 14px;
  margin-bottom: 40px;
}
#landing .text-bg .service-group {
  display: flex;
  flex-wrap: wrap;
}
#landing .text-bg .service-group .service {
  width: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#landing .text-bg .service-group .service .order {
  display: inline-block;
  width: 60px;
  font-size: 36px;
  font-family: "Outfit", sans-serif;
}
#landing .text-bg .service-group .service .icon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}
#landing .text-bg .more {
  position: absolute;
  right: 0;
  bottom: 72px;
  transform: translateX(50%);
}
@media (max-width: 767px) {
  #landing .text-bg .more {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    right: initial;
    bottom: initial;
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

/* about */
#about {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  background: #020916;
  background: linear-gradient(0deg, #020916 25%, rgba(2, 9, 22, 0.4666666667) 100%);
}
#about .col-md-5 {
  margin-top: 40px;
  margin-bottom: 40px;
}
#about .circle_lg {
  top: 0;
  right: 0;
}
#about .circle_md {
  bottom: -10%;
  left: 0;
}
#about .circle_sm {
  top: 0;
  left: 20%;
}

/* plans */
#plans .card {
  background-color: rgba(255, 255, 255, 0.1254901961);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  padding: 20px;
  height: 260px;
  overflow: hidden;
  margin-bottom: 30px;
  transition: all 0.3s;
}
#plans .card .title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
#plans .card p {
  line-height: 1.5;
}
#plans .card .order {
  font-size: 36px;
  font-family: "Outfit", sans-serif;
  line-height: 1;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
#plans .card .icon {
  background: linear-gradient(135deg, rgba(0, 170, 236, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
  padding: 2px;
  border-radius: 50%;
  position: absolute;
  right: -16px;
  bottom: -16px;
  transition: all 0.3s;
}
#plans .card .icon span {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-weight: bold;
  background-color: rgba(2, 9, 22, 0.6666666667);
  transition: all 0.3s;
}
#plans .card .icon span .img {
  width: 28px;
  height: 28px;
  background-size: contain;
  transform: translate(24px, 24px);
}
#plans .card:hover {
  background-color: rgba(255, 255, 255, 0.1882352941);
}
#plans .card:hover .icon {
  transform: scale(1.1);
}
#plans .card:hover .icon span {
  background-color: rgba(2, 9, 22, 0.6);
}
#plans .circle_sm {
  top: 20%;
  right: 10%;
}
#plans .circle_lg {
  bottom: -20%;
  left: 10%;
}
@media (max-width: 520px) {
  #plans .col-6 {
    width: 100%;
  }
  #plans .col-6 .card {
    height: 240px;
  }
}

/* service */
#service {
  padding-bottom: 40px;
}
#service .carousel .carousel-inner {
  width: 80%;
  left: 10%;
}
#service .carousel .carousel-control-prev,
#service .carousel .carousel-control-next {
  width: 28px;
  height: 48px;
  border: #fff 1px solid;
  top: 50%;
  transform: translateY(-50%);
}
#service .carousel .brand-group {
  display: flex;
  justify-content: space-between;
}
#service .carousel .brand-group .img {
  width: 160px;
  height: 160px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 450px) {
  #service .carousel .brand-group {
    display: block;
    text-align: center;
  }
  #service .carousel .brand-group .img {
    margin: 20px auto;
  }
}

/* news */
#news {
  background-position: bottom center;
  padding-bottom: 120px;
  background: #020916;
  background: linear-gradient(180deg, #020916 25%, rgba(2, 9, 22, 0.1254901961) 100%);
}
#news .card {
  background-color: rgba(255, 255, 255, 0.1882352941);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  margin-bottom: 40px;
  overflow: hidden;
  transition: all 0.3s;
}
#news .card .img {
  padding-top: 60%;
  background-size: 100%;
  transition: all 0.3s;
}
#news .card .img:before, #news .card .img:after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  right: -40px;
  transition: all 0.3s;
}
#news .card .img:before {
  background-color: rgba(0, 0, 0, 0.3764705882);
}
#news .card .img:after {
  background-image: url("/images/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
}
#news .card:hover {
  background-color: rgba(255, 255, 255, 0.2509803922);
}
#news .card:hover .img {
  background-size: 110%;
}
#news .card:hover .img:before, #news .card:hover .img:after {
  right: 0;
}
#news .card .text-group {
  padding: 12px 20px;
}
#news .card .text-group .info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#news .card .text-group .title {
  font-size: 18px;
}
#news .card .text-group .date,
#news .card .text-group .tags {
  font-size: 14px;
}

/* footer */
footer {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.0823529412);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}
footer .upper {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1882352941) 0%, rgba(255, 255, 255, 0) 50%);
}
footer .upper .home {
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.1882352941);
  border-left: 4px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
footer .upper .home:hover {
  background-color: rgba(255, 255, 255, 0.2509803922);
}
footer .upper .home img {
  height: 20px;
  width: auto;
}
footer .upper .brand {
  display: inline-block;
  width: calc(42% - 80px);
  padding-left: 20px;
}
footer .lower {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 40px 100px;
}
footer .lower .right {
  text-align: right;
}
footer .lower .right .link-group {
  position: absolute;
  right: 0;
  top: -72px;
}
footer .lower .right .link-group .more {
  margin-left: 20px;
}
@media (max-width: 767px) {
  footer .lower {
    text-align: center;
    display: block;
  }
  footer .lower .right {
    text-align: center;
    margin-top: 20px;
  }
  footer .lower .right .link-group {
    position: static;
    right: inherit;
    top: initial;
  }
  footer .lower .right .link-group .more {
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  footer .lower {
    padding: 40px 20px;
  }
}

#bg {
  width: 100vw;
  padding-top: 60%;
  background-position: bottom center;
  position: absolute;
  bottom: 0;
  z-index: 0;
}/*# sourceMappingURL=style.css.map */